* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  transition: all 0.05s;
}

.App-Light {
  color: #000000;
  background-color: rgb(224, 224, 210);
}

.App-Dark {
  color: white;
  background-color: #000000;
}

.Divider {
  height: 1.3px;
  background-color: #272323;
  width: 90% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 1.6rem;
  margin-bottom: 2rem;
}

html {
  scroll-behavior: smooth;
}