*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  transition: all 0.1s;
}

.App-Light{
  color: #000;
  background-color: white;
}
.App-Dark{
  color: white;
  background-color: #000000;
}